.slide-in {
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms;
}
  
.slide-in.viewed {
    opacity: 1;
    visibility: visible;
    -webkit-animation: slide-in 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in {
    0% {
      -webkit-transform: translateX(-1000px) scale(0.95);
              transform: translateX(-1000px) scale(0.95);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scale(1);
              transform: translateX(0) scale(1);
      opacity: 1;
    }
}

@keyframes slide-in {
    0% {
      -webkit-transform: translateX(-1000px) scale(0.95);
              transform: translateX(-1000px) scale(0.95);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scale(1);
              transform: translateX(0) scale(1);
      opacity: 1;
    }
}