/* ==================== VARIABLES ==================== */
:root {
    --header-height: 3rem;

    /* ========== Colors ========== */
    /* Change favorite color */
    --hue-color: 209;

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 8%, 65%);
    --body-color: hsl(var(--hue-color), 8%, 65%);
    --container-color: #FFF;

    /*========== Font and typography ==========*/
    --body-font: "Lato", sans-serif;

    --big-font-size: 2rem; /* 32px */
    --h1-font-size: 1.5rem; /* 24px */
    --h2-font-size: 1.25rem; /* 20px */
    --h3-font-size: 1.125rem; /* 18px */
    --normal-font-size: .938rem; /* 15.008px */
    --small-font-size: .813rem; /* 13.008px */
    --smaller-font-size: .75rem; /* 12px */

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Bottom Margin ==========*/
    --mb-0-25: .25rem; /* 4px */
    --mb-0-5: .5rem; /* 8px */
    --mb-0-75: .75rem; /* 12px */
    --mb-1: 1rem; /* 16px */
    --mb-1-5: 1.5rem; /* 24px */
    --mb-2: 2rem; /* 32px */
    --mb-2-5: 2.5rem; /* 40px */
    --mb-3: 3rem; /* 48x */
}