/*==================== REUSABLE CSS CLASSES ====================*/
.section {
    padding: var(--spacing-8) 0 var(--spacing-16);
  }
  
.section_title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    text-align: center;
    margin-bottom: var(--spacing-12);
  }


/*==================== LAYOUT ====================*/
.container {
    max-width: var(--spacing-192);
    margin-left: var(--spacing-6);
    margin-right: var(--spacing-6);
  }
  
.grid {
    display: grid;
    gap: var(--spacing-6);
  }
  
.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
  }

/*==================== NAV ====================*/
#brandName {
  display: none;
}

.nav {
  max-width: var(--spacing-242);
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--spacing-base);
  padding-bottom: var(--spacing-base);
}

.nav_logo,
.nav_toggle {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

.nav_logo:hover {
  color: var(--first-color);
}

.nav_toggle {
  font-size: var(--h2-font-size);
  cursor: pointer;
}

.nav_toggle:hover {
  color: var(--first-color);
}

@media screen and (max-width: 767px){
  .nav_menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: var(--spacing-8) var(--spacing-6) var(--spacing-16);
    box-shadow: 0 -1px var(--spacing-base) rgba(0,0,0,.15);
    border-radius: var(--spacing-6) var(--spacing-6) 0 0;
    transition: var(--time-300);
  }
}

.nav_list {
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-8);
}

.nav_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--normal-font-size);
  color: var(--title-color);
  font-weight: var(--font-regular);
}

.nav_link:hover{
  color: var(--first-color);
}

.nav_icon {
  font-size: var(--h2-font-size);
}

.nav_close {
  position: absolute;
  right: var(--spacing-5);
  bottom: var(--spacing-2);
  font-size: var(--h1-font-size);
  cursor: pointer;
  color: var(--first-color);
}

.nav_close:hover {
  color: var(--first-color-alt);
}

/* show menu */
.show-menu {
  bottom: 0;
}

/* Active link */
.active-link {
  color: var(--first-color);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 0 var(--spacing-base) rgba(0,0,0,.15);
}

/*==================== HOME ====================*/
.home_container {
  gap: var(--spacing-4);
}

.home_content {
  grid-template-columns: .5fr 3fr;
  padding-top: var(--spacing-14);
  align-items: center;
}

.home_social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: var(--spacing-4);
}

.home_social-icon {
  font-size: var(--h2-font-size);
  color: var(--first-color);
}

.home_social-icon:hover {
  color: var(--first-color-alt);
}

.home_blob {
  width: var(--spacing-50);
  fill: var(--first-color);
}

.home_blob-img {
  width: var(--spacing-43);
}

.home_data {
  grid-column: 1/3;
}

.home_title {
  font-size: var(--big-font-size);
}

.home_subtitle {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-regular);
  margin-bottom: var(--spacing-3)
}

.home_description {
  margin-bottom: var(--spacing-8);
}

/*==================== BUTTONS ====================*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: var(--spacing-4);
  border-radius: var(--spacing-2);
  font-weight: var(--font-regular);
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button_icon {
  font-size: var(--h2-font-size);
  margin-right: var(--spacing-2);
  transition: var(--time-300);
}

.button--white {
  background-color: #fff;
  color: var(--first-color);
}

.button--white:hover {
  background-color: #fff;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.button--small {
  padding: var(--spacing-3) var(--spacing-4);
}

.button--link {
  padding: 0;
  background-color: transparent;
  color: var(--first-color);
}

.button--link:hover {
  background-color: transparent;
  color: var(--first-color-alt);
}

/* Dark/Light */
.nav_btns {
  display: flex;
  align-items: center;
}

.change-theme {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  margin-right: var(--spacing-4);
  cursor: pointer;
}

.change-theme:hover {
  color: var(--first-color);
}

/* Scroll Up */
.scrollup {
  position: fixed;
  right: var(--spacing-4);
  bottom: -20%;
  background-color: var(--first-color);
  opacity: .8;
  padding: 0 var(--spacing-base);
  border-radius: var(--spacing-2);;
  z-index: var(--z-tooltip);
  transition: var(--time-400);
}

.scrollup:hover {
  background-color: var(--first-color-alt);
}

.scrollup_icon {
  font-size: var(--h1-font-size);
  color: var(--container-color);
}

/* Show scroll */
.show-scroll {
  bottom: var(--spacing-20);
}

/*==================== EXPERIENCE ====================*/
.experience_tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--spacing-8);
}

.experience_button {
  font-size: var(--h3-font-size);
  font-weight: var(--font-regular);
  cursor: pointer;
}

.experience_button:hover{
  color: var(--first-color);
}

.experience_icon {
  font-size: var(--h1-font-size);
  margin-right: var(--spacing-base);
}

.experience_data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: var(--spacing-6);
}

.experience_title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);
}

.experience_subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
}

.experience_calendar {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  margin-bottom: var(--spacing-4);
}

.experience_rounder {
  display: inline-block;
  width: var(--spacing-3);
  height: var(--spacing-3);
  background-color: var(--first-color);
  border-radius: 50%;
}

.experience_line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
  transform: translate(6px, -7px);
}

.experience [data-content] {
  display: none;
}

.experience_active[data-content] {
  display: block;
}

.experience_button.experience_active {
  color: var(--first-color);
}

/*==================== SKILLS ====================*/
.skills_info,
.skills_data,
.skills_blob {
  display: grid;
}

.skills_info {
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem 1rem;
}

.skills_data {
  justify-content: center;
  text-align: center;
}

.skills_blob {
  width: 80px;
  height: 80px;
  border: 2px solid var(--first-color);
  border-radius: 3rem;
  place-items: center;
  margin-top: .5rem;
}

.skills_blob img {
  width: 40px;
}

.skills_name {
  font-size: var(--small-font-size);
}

/* Animation SKills */
.skills_blob:hover img {
  animation: bounce-skills .6s;
}

@keyframes bounce-skills {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translate(0);
  }
  60% {
    transform: translateY(-3px);
  }
  80% {
    transform: translate(0);
  }
}

/*==================== PORTFOLIO ====================*/
.portfolio {
  background-color: var(--container-color);
}

.portfolio_container {
  row-gap: 2rem;
  justify-content: center;
  padding-block: 1rem;
}

.portfolio_card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.portfolio_img {
  width: 100%;
  height: 100%;
}

.portfolio_modal {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, 
  hsla(0, 0%, 0%, 0) 0%, 
  hsla(var(--hue-color), 70%, 40%, 0.8) 120%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); /* For Safari */
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: bottom .4s;
}

.portfolio_subtitle,
.portfolio_button {
  color: var(--title-color);
  font-size: var(--small-font-size);
}

.portfolio_subtitle {
  display: block;
  margin-bottom: .25rem;
}

.portfolio_title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--spacing-3);
}

.portfolio_button {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-regular);
}

.portfolio_button i {
  font-size: 1.25rem;
}

.portfolio_card:hover .portfolio_modal {
  bottom: 0;
}

/*==================== PROJECT IN MIND ====================*/
.project {
  text-align: center;
}

.project_bg {
  background-color: var(--first-color-second);
  padding-top: var(--spacing-12);
}

.project_title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--spacing-3);
}

.project_description {
  margin-bottom: var(--spacing-6);
}

.project_title,
.project_description {
  color: #fff;
}

.project_img {
  width: var(--spacing-58);
  justify-self: center;
}

/*==================== CONTACT ME ====================*/
.contact_container {
  /* position: relative; */
  /* grid-template-rows: 300px max-content max-content; */
  /* row-gap: 0; */
  /* row-gap: var(--spacing-12);
  display: flex;
  justify-content: center; */
}

.contact_form,
.contact_group {
  display: grid;
  row-gap: 1.25rem;
}

.contact_form {
  position: relative;
}

.contact_box {
  position: relative;
  width: 100%;
  height: 58px;
}

.contact_input,
.contact_button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  outline: none;
  border: none;
}

.contact_input {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--body-color); /* --black-color */
  border: 3px solid var(--first-color-lighter); /* --black-color-light */
  border-radius: var(--spacing-2);
  color: var(--text-color); /* --white-color */
  padding: .5rem 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);
  transition: border .4s, background-color .4s;
}

.contact_input::placeholder {
  color: var(--text-color-light);
  transition: opacity .4s;
}

.contact_input:focus {
  border: 3px solid var(--first-color); /* --white-color */
}

.contact_input:-webkit-autofill {
  transition: background-color 6000s, color 6000s;
}

.contact_label {
  position: absolute;
  top: -16px;
  left: 10px;
  color: var(--text-color-light);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-regular);
  background-color: var(--body-color); /* --black-color */
  padding: 8px;
  pointer-events: none;
  transition: top .4s, opacity .4s, background-color .4s;
  opacity: 0;
}

.contact_form .contact_area {
  height: 10rem;
}

.contact_area textarea {
  resize: none;
  padding-top: 1rem;
}

.contact_button {
  background-color: var(--first-color);
  cursor: pointer;
}

.contact_input:focus::placeholder {
  opacity: 0;
}

.contact_input:focus + .contact_label,
.contact_input:not(:placeholder-shown).contact_input:not(:focus) + .contact_label {
  opacity: 1;
  top: -16px;
}

.contact_content {
  background-color: var(--input-color);
  border-radius: var(--spacing-2);
  padding: var(--spacing-3) var(--spacing-4) var(--spacing-base);
}

/* .contact_label {
  font-size: var(--smaller-font-size);
  color: var(--title-color);
} */

/* .contact_input {
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: var(--spacing-base) var(--spacing-2) var(--spacing-2) 0;
} */

/* #submitBtn {
  text-align: center;
}

#submitBtn > button:hover {
  cursor: pointer;
} */
/*==================== FOOTER ====================*/
.footer {
  padding-top: var(--spacing-8);
}

.footer_container {
  row-gap: var(--spacing-4);
  text-align: center;
}

.footer_bg {
  background-color: var(--first-color-second);
  padding: var(--spacing-8) 0;
}

.footer_title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--spacing-base);
}

.footer_social {
  font-size: var(--h2-font-size);
  margin-right: var(--spacing-4);
}

.footer_social:hover {
  color: var(--first-color-lighter);
  text-align: center;
}

.footer_copy {
  font-size: var(--smaller-font-size);
}

.footer_title,
.footer_link,
.footer_social,
.footer_copy {
  color: #fff;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: var(--spacing-2);
  background-color: var(--scroll-bar-color);
  border-radius: var(--spacing-2);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: var(--spacing-2);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}