/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* ==================== VARIABLES ==================== */
:root {
    --header-height: 3rem; /* 48px */

    /* ========== Colors ========== */
    /* Change favorite color */
    --hue-color: 209; /* ultramarine */

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 8%, 65%);
    --body-color: hsl(var(--hue-color), 8%, 65%);
    --container-color: #FFF;

    /*========== Font and typography ==========*/
    --body-font: "Lato", sans-serif;

    --big-font-size: 2rem;       /* 32px */
    --h1-font-size: 1.5rem;      /* 24px */
    --h2-font-size: 1.25rem;     /* 20px */
    --h3-font-size: 1.125rem;    /* 18px */
    --normal-font-size: .938rem; /* 15.008px */
    --small-font-size: .813rem;  /* 13.008px */
    --smaller-font-size: .75rem; /* 12px */

    /*========== Font weight ==========*/
    --font-light: 300;
    --font-regular: 400;
    --font-bold: 700;

    /*========== Bottom Margin ==========*/
    --mb-0-25: .25rem; /* 4px */
    --mb-0-5: .5rem;   /* 8px */
    --mb-0-75: .75rem; /* 12px */
    --mb-1: 1rem;      /* 16px */
    --mb-1-5: 1.5rem;  /* 24px */
    --mb-2: 2rem;      /* 32px */
    --mb-2-5: 2.5rem;  /* 40px */
    --mb-3: 3rem;      /* 48px */

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    /* Font size for Large Devices */
    @media screen and (min-width: 968px) {
        :root {
            --big-font-size: 3rem;        /* 48px */
            --h1-font-size: 2.25rem;      /* 36px */
            --h2-font-size: 1.5rem;       /* 24px */
            --h3-font-size: 1.25rem;      /* 20px */
            --normal-font-size: 1rem;     /* 16px */
            --small-font-size: .875rem;   /* 14px */
            --smaller-font-size: .813rem; /* 13.008px */
        }
    }
}

/*==================== BASE STYLES ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
  }

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-bold);
  }
  
ul {
    list-style: none;
  }
  
a {
    text-decoration: none;
  }
  
img {
    max-width: 100%;
    height: auto;
  }

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
    padding: 2rem 0 4rem;
  }
  
.section__title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    text-align: center;
  }
  
.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
    text-align: center;
  }

