:root {
    /* ============================ COLORS ============================= */

    /* ULTRAMARINE */
    --ultramarine-hue-color: 209;
    --ultramarine-color-base: var(--ultramarine-color-600);
    --ultramarine-color-100: hsl(var(--ultramarine-hue-color), 85%, 92%); /* #edf5fd */
    --ultramarine-color-200: hsl(var(--ultramarine-hue-color), 85%, 85%); /* #b7d9f9 */
    --ultramarine-color-300: hsl(var(--ultramarine-hue-color), 84%, 73%); /* #80bcf4 */
    --ultramarine-color-400: hsl(var(--ultramarine-hue-color), 85%, 62%); /* #4a9ff0 */
    --ultramarine-color-500: hsl(var(--ultramarine-hue-color), 84%, 50%); /* #1483eb */
    --ultramarine-color-600: hsl(var(--ultramarine-hue-color), 85%, 38%); /* #0f64b5 */
    --ultramarine-color-700: hsl(var(--ultramarine-hue-color), 84%, 27%); /* #0b467f */
    --ultramarine-color-800: hsl(var(--ultramarine-hue-color), 85%, 15%); /* #062848 */
    --ultramarine-color-900: hsl(var(--ultramarine-hue-color), 89%, 4%); /* #010a12 */

    /* CRIMSON SKY */
    --crimson-sky-hue-color: 1;
    --crimson-sky-color-100: hsl(var(--crimson-sky-hue-color), 51%, 91%); /* #f4dedd */
    --crimson-sky-color-200: hsl(var(--crimson-sky-hue-color), 51%, 80%); /* #e6b1b1 */
    --crimson-sky-color-300: hsl(var(--crimson-sky-hue-color), 52%, 68%); /* #d88584 */
    --crimson-sky-color-400: hsl(var(--crimson-sky-hue-color), 52%, 61%); /* #cf6766 */
    --crimson-sky-color-base: hsl(var(--crimson-sky-hue-color), 52%, 49%); /* #be3d3c */
    --crimson-sky-color-600: hsl(var(--crimson-sky-hue-color), 52%, 38%); /* #922f2e */
    --crimson-sky-color-700: hsl(var(--crimson-sky-hue-color), 52%, 26%); /* #652020 */
    --crimson-sky-color-800: hsl(var(--crimson-sky-hue-color), 51%, 15%); /* #381212 */
    --crimson-sky-color-900: hsl(var(--crimson-sky-hue-color), 47%, 3%); /* #0b0404 */

    /* INDIGO */
    --indigo-hue-color: 217;
    --indigo-color-100: hsl(var(--indigo-hue-color), 31%, 89%); /* #dbe1ec */
    --indigo-color-200: hsl(var(--indigo-hue-color), 32%, 82%); /* #c1ccdf */
    --indigo-color-300: hsl(var(--indigo-hue-color), 32%, 70%); /* #9aaccb */
    --indigo-color-400: hsl(var(--indigo-hue-color), 32%, 58%); /* #738db7 */
    --indigo-color-base: hsl(var(--indigo-hue-color), 32%, 47%); /* #516e9e */
    --indigo-color-600: hsl(var(--indigo-hue-color), 32%, 35%); /* #3d5377 */
    --indigo-color-700: hsl(var(--indigo-hue-color), 32%, 24%); /* #293850 */
    --indigo-color-800: hsl(var(--indigo-hue-color), 32%, 12%); /* #151d29 */
    --indigo-color-900: hsl(var(--indigo-hue-color), 33%, 1%); /* #010202 */

    /* LIGHT BLUE */
    --light-blue-hue-color: 199;
    --light-blue-color-100: hsl(var(--light-blue-hue-color), 26%, 88%); /* #d8e3e8 */
    --light-blue-color-200: hsl(var(--light-blue-hue-color), 26%, 80%); /* #c0d2da */
    --light-blue-color-300: hsl(var(--light-blue-hue-color), 26%, 69%); /* #9ab7c4 */
    --light-blue-color-400: hsl(var(--light-blue-hue-color), 26%, 61%); /* #82a5b6 */
    --light-blue-color-base: hsl(var(--light-blue-hue-color), 26%, 49%); /* #5d8a9f */
    --light-blue-color-600: hsl(var(--light-blue-hue-color), 26%, 38%); /* #476a7a */
    --light-blue-color-700: hsl(var(--light-blue-hue-color), 26%, 26%); /* #324a55 */
    --light-blue-color-800: hsl(var(--light-blue-hue-color), 26%, 15%); /* #1c2a30 */
    --light-blue-color-900: hsl(var(--light-blue-hue-color), 29%, 3%); /* #06090b */

    /* GRAYS */
    --gray-hue-color: 0;
    --white-color-base: hsl(var(--gray-hue-color), 0%, 95%); /* f2f2f2 */
    --gray-color-200: hsl(var(--gray-hue-color), 0%, 84%); /* d6d6d6 */
    --gray-color-300: hsl(var(--gray-hue-color), 0%, 73%); /* #b9b9b9 */
    --gray-color-400: hsl(var(--gray-hue-color), 0%, 61.25%); /* #9c9c9c */;
    --gray-color-base: hsl(var(--gray-hue-color), 0%, 50%); /* #808080 */
    --gray-color-600: hsl(var(--gray-hue-color), 0%, 38%); /* #606060 */
    --gray-color-700: hsl(var(--gray-hue-color), 0%, 25%); /* #404040 */
    --gray-color-800: hsl(var(--gray-hue-color), 0%, 13%); /* #212121 */
    --black-color-base: hsl(var(--gray-hue-color), 0%, 0%); /* #000000 */

    --ultramarine-color-second: hsl(var(--ultramarine-hue-color), 69%, 61%);
    --hover-color: var(--crimson-sky-color-base);
    --title-color: var(--ultramarine-color-900); /* 8%, 15% */
    --text-color: hsl(var(--ultramarine-hue-color), 8%, 45%); /* 8%, 45% */
    --text-color-light: hsl(var(--ultramarine-hue-color), 8%, 65%);
    --body-color: var(--ultramarine-color-100);
    --container-color: var(--white-color-base);
    --scroll-bar-color: hsl(var(--ultramarine-hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--ultramarine-hue-color), 12%, 80%);

    /* ========================= MISCELLANEOUS ========================= */
    --header-height: var(--spacing-12);

    /* ============================ MOTION ============================= */
    --time-100: .1s;
    --time-200: .2s;
    --time-300: .3s;
    --time-400: .4s;
    --time-500: .5s;
    --time-600: .6s;

    /* ============================ SPACING ============================ */
    --spacing-base: 0.25rem;  /* 4px */
    --spacing-2: calc(var(--spacing-base) * 2);   /* 0.50rem  | 8px */
    --spacing-3: calc(var(--spacing-base) * 3);   /* 0.75rem  | 12px */
    --spacing-4: calc(var(--spacing-base) * 4);   /* 1.0rem   | 16px */
    --spacing-5: calc(var(--spacing-base) * 5);   /* 1.25rem  | 20px */
    --spacing-6: calc(var(--spacing-base) * 6);   /* 1.50rem  | 24px */
    --spacing-7: calc(var(--spacing-base) * 7);   /* 1.75rem  | 28px */
    --spacing-8: calc(var(--spacing-base) * 8);   /* 2.0rem   | 32px */
    --spacing-9: calc(var(--spacing-base) * 9);   /* 2.25rem  | 36px */
    --spacing-10: calc(var(--spacing-base) * 10); /* 2.50rem  | 40px */
    --spacing-11: calc(var(--spacing-base) * 11); /* 2.75rem  | 44px */
    --spacing-12: calc(var(--spacing-base) * 12); /* 3.0rem   | 48px */
    --spacing-13: calc(var(--spacing-base) * 13); /* 3.25rem  | 52px */
    --spacing-14: calc(var(--spacing-base) * 14); /* 3.50rem  | 56px */
    --spacing-15: calc(var(--spacing-base) * 15); /* 3.75rem  | 60px */
    --spacing-16: calc(var(--spacing-base) * 16); /* 4.0rem   | 64px */
    --spacing-17: calc(var(--spacing-base) * 17); /* 4.25rem  | 68px */
    --spacing-18: calc(var(--spacing-base) * 18); /* 4.50rem  | 72px */
    --spacing-19: calc(var(--spacing-base) * 19); /* 4.75rem  | 76px */
    --spacing-20: calc(var(--spacing-base) * 20); /* 5.0rem   | 80px */
    --spacing-21: calc(var(--spacing-base) * 21); /* 5.25rem  | 84px */
    --spacing-22: calc(var(--spacing-base) * 22); /* 5.50rem  | 88px */
    --spacing-23: calc(var(--spacing-base) * 23); /* 5.75rem  | 92px */
    --spacing-24: calc(var(--spacing-base) * 24); /* 6.0rem   | 96px */
    --spacing-40: calc(var(--spacing-base) * 40); /* 10.0rem  | 160px */
    --spacing-41: calc(var(--spacing-base) * 41); /* 10.25rem | 164px */
    --spacing-42: calc(var(--spacing-base) * 42); /* 10.50rem | 168px */
    --spacing-43: calc(var(--spacing-base) * 43); /* 10.75rem | 172px */
    --spacing-45: calc(var(--spacing-base) * 45); /* 11.25rem | 180px */
    --spacing-50: calc(var(--spacing-base) * 50); /* 12.5rem  | 200px */
    --spacing-58: calc(var(--spacing-base) * 58); /* 14.5rem  | 232px */
    --spacing-66: calc(var(--spacing-base) * 66); /* 16.5rem  | 264px */
    --spacing-67: calc(var(--spacing-base) * 67); /* 16.75rem | 268px */
    --spacing-80: calc(var(--spacing-base) * 80); /* 20.0rem  | 320px */
    --spacing-87: calc(var(--spacing-base) * 87); /* 21.75rem | 348px */
    --spacing-88: calc(var(--spacing-base) * 88); /* 22.0rem  | 352px */
    --spacing-89: calc(var(--spacing-base) * 89); /* 22.25rem | 356px */
    --spacing-90: calc(var(--spacing-base) * 90); /* 22.50rem | 360px */

    --spacing-100: calc(var(--spacing-base) * 100); /* 25.0rem  | 400px */
    --spacing-115: calc(var(--spacing-base) * 115); /* 28.75rem | 460px */
    --spacing-125: calc(var(--spacing-base) * 125); /* 31.25rem | 500px */
    --spacing-138: calc(var(--spacing-base) * 138); /* 34.5rem  | 552px */
    --spacing-192: calc(var(--spacing-base) * 192); /* 48.0rem  | 768px */
    --spacing-242: calc(var(--spacing-base) * 242); /* 60.5rem  | 968px */

    /* =========================== TYPOGRAPHY ========================== */
    --body-font: "Lato", sans-serif;

    /* Font Size */
    --big-font-size: 2rem;       /* 32px */
    --h1-font-size: 1.5rem;      /* 24px */
    --h2-font-size: 1.25rem;     /* 20px */
    --h3-font-size: 1.125rem;    /* 18px */
    --normal-font-size: .938rem; /* 15.008px */
    --small-font-size: .813rem;  /* 13.008px */
    --smaller-font-size: .75rem; /* 12px */

    /* Font Weight */
    --font-light: 300;
    --font-regular: 400;
    --font-bold: 700;

    /* Z-Index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    /* Font size for Large Devices */
    @media screen and (min-width: 968px) {
        :root {
            --big-font-size: 3rem;        /* 48px */
            --h1-font-size: 2.25rem;      /* 36px */
            --h2-font-size: 1.5rem;       /* 24px */
            --h3-font-size: 1.25rem;      /* 20px */
            --normal-font-size: 1rem;     /* 16px */
            --small-font-size: .875rem;   /* 14px */
            --smaller-font-size: .813rem; /* 13.008px */
        }
    }
}

/* =========================== DARK THEME ========================== */
body.dark-theme {
    /* HSL color mode */
    --ultramarine-color-base: var(--ultramarine-color-600);
    --hover-color: var(--crimson-sky-color-600);
    --title-color: hsl(var(--ultramarine-hue-color), 8%, 95%);
    --text-color: hsl(var(--ultramarine-hue-color), 8%, 75%);
    --input-color: hsl(var(--ultramarine-hue-color), 29%, 16%);
    --body-color: var(--ultramarine-color-900); /* 28%, 12% */
    --container-color: hsl(var(--ultramarine-hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--ultramarine-hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--ultramarine-hue-color), 12%, 36%);
}