:root {
    /* ========== SPACING ========== */
    --spacing-base: 0.25rem;  /* 4px */
    --spacing-2: var(--spacing-base) * 2;   /* 0.50rem | 8px */
    --spacing-3: var(--spacing-base) * 3;   /* 0.75rem | 12px */
    --spacing-4: var(--spacing-base) * 4;   /* 1.0rem  | 16px */
    --spacing-5: var(--spacing-base) * 5;   /* 1.25rem | 20px */
    --spacing-6: var(--spacing-base) * 6;   /* 1.50rem | 24px */
    --spacing-7: var(--spacing-base) * 7;   /* 1.75rem | 28px */
    --spacing-8: var(--spacing-base) * 8;   /* 2.0rem  | 32px */
    --spacing-9: var(--spacing-base) * 9;   /* 2.25rem | 36px */
    --spacing-10: var(--spacing-base) * 10; /* 2.50rem | 40px */
    --spacing-11: var(--spacing-base) * 11; /* 2.75rem | 44px */
    --spacing-12: var(--spacing-base) * 12; /* 3.0rem  | 48px */

    --header-height: 3rem; /* 48px */

    /* ========== Colors ========== */
    /* Change favorite color */
    --hue-color: 209; /* ultramarine */  /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --body-font: "Lato", sans-serif;

    --big-font-size: 2rem;       /* 32px */
    --h1-font-size: 1.5rem;      /* 24px */
    --h2-font-size: 1.25rem;     /* 20px */
    --h3-font-size: 1.125rem;    /* 18px */
    --normal-font-size: .938rem; /* 15.008px */
    --small-font-size: .813rem;  /* 13.008px */
    --smaller-font-size: .75rem; /* 12px */

    /*========== Font weight ==========*/
    --font-light: 300;
    --font-regular: 400;
    --font-bold: 700;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    /* Font size for Large Devices */
    @media screen and (min-width: 968px) {
        :root {
            --big-font-size: 3rem;        /* 48px */
            --h1-font-size: 2.25rem;      /* 36px */
            --h2-font-size: 1.5rem;       /* 24px */
            --h3-font-size: 1.25rem;      /* 20px */
            --normal-font-size: 1rem;     /* 16px */
            --small-font-size: .875rem;   /* 14px */
            --smaller-font-size: .813rem; /* 13.008px */
        }
    }
}

/*========== DARK THEME ==========*/
body.dark-theme {
    /* HSL color mode */
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}