/* An id that allows the text to wrap around the image on the About Me Page */
#aboutMeImg {
    float: left !important;
    margin-right: 20px !important;
    margin-bottom: 5px !important;
    max-width: 18% !important;
  }

/* Changes the text below About Me */
  #brand {
    color: gray;
    font-size: 14px;
    text-align: center;
  }