/* Anchor Links - Prevents Navbar from blocking the Header */
:target:before {
  /* :target - Targets URLs with a # and anchor name ... :before -  */
  content: "";
  display: block;
  height: 100px; /* Sets the height of the target to 100px */
  margin: -100px 0 0; /* Removes the added height */
}

.navbar-brand {
  color: var(--white);
  padding-right: 10px;
}
.navbar-brand:hover, .navbar-brand svg:hover {
  /* filter: invert(53%) sepia(17%) saturate(1718%) hue-rotate(159deg) brightness(88%) contrast(92%); */
  color: var(--light-gold-leaf);
  fill: var(--light-gold-leaf);
}
