/* Anchor Links - Prevents Navbar from blocking the Header */
:target:before {
  /* :target - Targets URLs with a # and anchor name ... :before -  */
  content: "";
  display: block;
  height: 100px; /* Sets the height of the target to 100px */
  margin: -100px 0 0; /* Removes the added height */
}

.navbar-brand {
  color: var(--white);
}
.navbar-brand:hover {
  color: var(--sky-blue);
}
