/* Makes the Navbar more opaque */
nav {
    opacity: 0.85!important;
  }
  
/* For the Name in the Navbar*/
  #name {
    font-size: 25px;
  }

/* Anchor Links - Prevents Navbar from blocking the Header */
  :target:before { /* :target - Targets URLs with a # and anchor name ... :before -  */
    content: "";
    display: block;
    height: 100px; /* Sets the height of the target to 100px */
    margin: -100px 0 0; /* Removes the added height */
  }