/* Fill the given space but keep the image aspect ratio (image clipped)*/
.gallery {
  object-fit: cover !important;
  height: 350px !important;
}

/* Moves the top left margin edge by half its size */
figcaption {
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
