

/* Styles the Project Images */
.gallery {
  object-fit: cover !important; /* Fill the given space but keep the image aspect ratio (image clipped)*/
  height: 300px;
  transition: opacity 0.8s ease-in-out;
}

/* Styles the Project Image Container */
figure:hover .gallery{
  opacity: 0;
}

/* Styles the Project Image Caption */
figcaption {
  position: absolute;
  top: 0;
  /* Moves the left margin edge to the middle */
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  transition: all 0.8s ease-in-out;
}
figure:hover figcaption {
  opacity: 1;
  top: 20%;
}

/* Styles the Project Image Button */
.gallery-btn {
  position: absolute;
  bottom: 0;
  /* Moves the left margin edge to the middle */
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  transition: all 0.8s ease-in-out;
}
figure:hover .gallery-btn {
  opacity: 1;
  bottom: 40%;
}

/* Styles the Carousel Images in the Modal */
.carousel-item img {
  object-fit: cover !important;
  height: 450px;
}