/* Adds the background image to each page */
body {
  background-image: url(./images/Background.jpg);
}

/* Changes the font to serif */
.font {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  text-align: center;
}

/* Changes the color of the header in the card */
.header {
  color: #3c6e4b !important;
}