:root {
  
  --white: #d8d8d8;

  /* *********************************************** #36 */
  --stormy: #494e6b;
  --cloud: #98878f;
  --sunset: #985e6d;
  --evening: #192231;

  /* *********************************************** #20 */
  --crimson-sky: #cf6766;
  --indigo: #30415d;
  --ultramarine: #031424;
  --light-blue: #8eaebd;
}

section {
  min-height: 100vh;
}

body {
  background-color: var(--bg-color);

  /* *********************************************** #11 */
  /* --bg-color: var(--ivory-black);
  --header-text-color: var(--gold-leaf);
  --text-color: var(--white);
  --nav-text-color: var(--white);
  --nav-text-hover-color: var(--gold-leaf);
  --btn-bg-color: var(--sky-blue); */
  /* *********************************************** #36 FAVORITE */
  /* --bg-color: var(--evening);
  --header-text-color: var(--white);
  --text-color: var(--cloud);
  --nav-text-color: var(--sunset);
  --nav-text-hover-color: var(--white);
  --btn-bg-color: var(--sunset);
  --btn-text-color: var(--white); */
  /* *********************************************** #20 */
  --bg-color: var(--ultramarine);
  --header-text-color: var(--white);
  --text-color: var(--light-blue);
  --nav-text-color: var(--crimson-sky);
  --nav-text-hover-color: var(--white);
  --btn-bg-color: var(--crimson-sky);
  --btn-text-color: var(--white);
  /* *********************************************** #15 */
  /* --bg-color: var(--forest);
  --header-text-color: var(--feather);
  --text-color: var(--sleek-grey);
  --nav-text-color: var(--sleek-grey);
  --nav-text-hover-color: var(--marine);
  --btn-bg-color: var(--feather);
  --btn-text-color: var(--sleek-grey); */
  /* *********************************************** #12 */
  /* --bg-color: var(--summer-sky);
  --header-text-color: var(--warm-peach);
  --text-color: var(--field);
  --nav-text-color: var(--white);
  --nav-text-hover-color: var(--summer-sky);
  --btn-bg-color: var(--breeze);
  --btn-text-color: var(--white); */
}
.navbar-brand {
  color: var(--nav-text-color);
  padding-right: 10px;
}
.navbar-brand:hover,
.navbar-brand svg:hover {
  color: var(--nav-text-hover-color);
  fill: var(--nav-text-hover-color);
}

h1 {
  color: var(--header-text-color);
}
h3 {
  color: var(--text-color);
}

figcaption {
  color: var(--text-color);
}

.btn {
  background-color: var(--btn-bg-color) !important;
  color: var(--btn-text-color) !important;
}
.errorMessage {
  color: var(--text-color);
}
.form-control {
  background-color: var(--white) !important;
}
label {
  color: var(--bg-color);
}
.modal-content {
  color: var(--bg-color);
}
svg[fill] {
  fill: var(--btn-bg-color);
}
